:javascript
    $("#kanban_pane_wip_limit_auto").click(function(){
        if ($(this).attr("checked") == "checked"){
            $("#kanban_pane_wip_limit").attr("disabled",true);
        }else{
            $("#kanban_pane_wip_limit").removeAttr("disabled");
        }
    });