.board {
  float:left;
  background: #e3e3e3;
  width:10%;
  padding: 0 10px 10px 10px;
  margin:1px;
  border: 1px solid #000000;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; } {
}
.board p.status{
	color:#606264;
	font-size:17px;
	font-weight:bold;
	font-family: Trebuchet MS,Georgia,"Times New Roman",serif; margin:5px 0 10px 0;
}
