table {height:600px;table-layout:fixed;width:100%}
table.kanban td,th {border:1px solid #d7d7d7;}
table.kanban {border-collapse: collapse; width: 100%; margin: 10px 0 6px 0;border: 1px solid #d7d7d7;text-align:center}
table.kanban thead th{background-color: #EEEEEE;padding:4px;height:60px;width:auto;font-weight:bold;}
table.kanban td#backlog {}

.link {color:blue}
.icon-setup  { background-image: url(../images/icon-setup.png); margin-left:15px; }
.icon-report { background-image: url(../images/icon-report.png); margin-left:15px;}

.disabled { disabled:disable}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* half width of the spinner gif */
  margin-top: -50px; /* half height of the spinner gif */
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: 31px; /* width of the spinner gif */
  height: 31px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.hidden {display:none}

.kanban-pane {width:auto;overflow-y:auto;min-width:160px;max-width:300px;max-height:500px;vertical-align:top}
.kanban-card { margin: 5px;width:90%;float:left; overflow:hidden}
.card-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0em; text-align: left; overflow:hidden; }
.card-header .ui-icon { float: right; }
.card-content { padding: 0.4em; overflow:hidden;text-align: left}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.wip-text {color:blue;}

.icon-box {
  background-repeat: no-repeat;
}

.icon-search{width:13px;height:13px; padding:1px;background-image: url(../images/icon-search.png); }
.icon-minus{ background-image: url(../images/icon-minux.png); }
.icon-plus{ background-image: url(../images/icon-plus.png); }

.p1-color{background-color: #ff6666}
.p2-color{background-color: #ffc1c1}
.p3-color{background-color: #ccff99}
.p4-color{background-color: #defebd}
.p5-color{background-color: #ffffff}

.out_box{
  width:90%;
  height:600px;
  padding: 0px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  margin:10px;
  border-collapse:collapse;
}

.inner_box{
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  float: left;
  border-collapse:collapse;
}

.no_border{
  border-width: 0px
}

.panes{
  width:100%;
  overflow: auto;
  float:left;
}

#kanban_header {
  width:100%;
  height:50px;
  line-height: 50px;
  clear:both;
  text-align:center;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  background: #faf6fa;
}

#kanban_body{
  width:100%;
  height:auto;
  clear:both;
}

#kanban_footer{
  width: 100%;
  height: 30px;
  clear:both:
}


#seclectbox {
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

.clearfix {
  display: inline-block;
}

#seclectbox select#select_kanban {
  padding: 2px;
  float: right;
}
#seclectbox select#select_team {
  float: right;
  padding: 2px;
}
#seclectbox select#select_member {
  float: right;
  padding: 2px;
}

#popupWindow{
  display:none;
  min-height:340;
  min-width:560px;
  background:#FFFFFF;
  border:2px solid #cecece;
  z-index:2;
  padding:4px;
  font-size:12px;
  /*opacity: 0.2;*/
}

#popupWindowHeader{
  font-weight: bold;
  margin: 20px
}

#popupWindowBody{
  margin: 1em;
}

#popupWindowBody select{
  width: 12em;
  float: left;
  text-align: left;
  margin: 15px,4em,15px,2em;
  padding: 2px;
}

#popupWindowBody label{
  float:left;
  width: 8em;
  text-align: right;
  margin: 15px,1em,15px,2em;
  padding: 2px;
}

#popupWindowBody textarea{
  width: 32em;
  height: 12em;
}

.newline{
  clear:both;
}

